
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Данные</h2>
<div class="tabsLink">
    <a href="#tab1">Пользователи</a>
    <a href="#tab2">Операции</a>
    <a href="#tab3">Результаты</a>
    <a href="#tab4">Результаты пользователей</a>
</div>

<br>
<a class="tabs" id="tab1"></a>
<div class="tab">
    <table class="col-sm-2" border="1">
        <tr>
            <td>ФИО</td>
            <td>Логин</td>
            <td>Id</td>
        </tr>
        @foreach (var user in ViewBag.Users)
        {
            <tr>
                <td>@user.FIO</td>
                <td>@user.Login</td>
                <td>@user.Id</td>
            </tr>
        }
    </table>
    <br>
</div>

<a class="tabs" id="tab2"></a>
<div class="tab">
    <table class="col-sm-2" border="1">
        <tr>
            <td>id</td>
            <td>Имя</td>
            <td>Полное имя</td>
        </tr>
        @foreach (var oper in ViewBag.Opers)
        {
            <tr>
                <td>@oper.Id</td>
                <td>@oper.Name</td>
                <td>@oper.FullName</td>
                
            </tr>
        }
    </table>
    <br>
</div>

<a class="tabs" id="tab3"></a>
<div class="tab">
    <table class="col-sm-2" border="1">
        <tr>
            <td>Автор</td>
            <td>Название</td>
            <td>Полное название</td>
            <td>Входные данные</td>
            <td>Результат</td>
            <td>Время выполнения</td>
            <td>Дата вызова</td>
        </tr>
        @foreach (var operRes in ViewBag.OperRes)
        {
            <tr>
                <td>@operRes.Author.FIO</td>
                <td>@operRes.Operation.Name</td>
                <td>@operRes.Operation.FullName</td>
                <td>@operRes.InputData</td>
                <td>@operRes.Result</td>
                <td>@operRes.ExecutionTime</td>
                <td>@operRes.ExecutionDate</td>

            </tr>
        }
    </table>
    <br>
</div>

<a class="tabs" id="tab4"></a>
<div class="tab">
    <table class="col-sm-2" border="1">
        <tr>
            <td>Id</td>
            <td>ФИО</td>
            <td>Операция</td>
            <td>Входные данные</td>
            <td>Результат</td>
        </tr>
        @foreach (var usrFavRes in ViewBag.UsrFavRes)
        {
            <tr>
                <td>@usrFavRes.Id</td>
                <td>@usrFavRes.User.FIO</td>
                <td>@usrFavRes.Result.Operation.FullName</td>
                <td>@usrFavRes.Result.InputData</td>
                <td>@usrFavRes.Result.Result</td>
            </tr>
        }
    </table>
    <br>
</div>

